backports.ssl-match-hostname==3.5.0.1
behave==1.2.5
certifi==2017.7.27.1
chardet==3.0.4
docker==2.5.1
docker-pycreds==0.2.1
enum34==1.1.6
gitdb2==2.0.3
idna==2.6
ipaddress==1.0.18
parse==1.8.2
parse-type==0.4.2
requests==2.18.4
six==1.11.0
smmap2==2.0.3
urllib3==1.22
websocket-client==0.44.0
